<footer>
    <div class="wrap">
        <div class="social block">
            <a class="logo" href="/"><img src="{{ asset('assets/images/logo.png') }}" alt="logo"/></a>
            <p>Rejoignez nous...</p>
            <ul>
                <li><a href="#"><img src="{{ asset('assets/images/facebook.png') }}" alt="facebook"/></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/twitter.png') }}" alt="twitter"/></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/vimeo.png') }}" alt="vimeo"/></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/linked.png') }}" alt="linked"/></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/flickr.png') }}" alt="flickr"/></a></li>
            </ul>
        </div>
        <div class="contact block">
            <h3>Contact</h3>
            <ul>
                <li><img src="{{ asset('assets/images/address.png') }}" alt="adresse"/> <b>Adresse:</b> Rue Saint-Laurent, 33 4000 Liège
                </li>
                <li><img src="{{ asset('assets/images/phone.png') }}" alt="tel"/> <b>Tel:</b> +32 (0)4 223 11 31</li>
                <li><img src="{{ asset('assets/images/mail.png') }}" alt="mail"/> <b>Mail:</b> <a href="mailto:info@crearchitech">info@crearchitech</a>
                </li>
            </ul>
        </div>
        <div class="twitter block">
            <h3>Derniers Tweets</h3>
            <a class="twitter-timeline" href="https://twitter.com/flolec" data-widget-id="594544933203226624">Tweets
                de
                @flolec</a>
            <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>
        </div>
        <div class="news block">
            <h3>Derniers News</h3>
            <ul class="newsBlock">
                <li><a href="#">Lauréat</a></li>
                <li><a href="#">Maison Passive</a></li>
                <li><a href="#">Nouveau collaborateur</a></li>
                <li><a href="#">Inauguration</a></li>
                <li><a href="#">Interview</a></li>
                <li><a href="#">Europa Nostra</a></li>
            </ul>
        </div>
    </div>
    <div class="copyrights">
        <div class="wrap">
            <p>Copyright © 2015 <a href="#">Crearchitech</a>. All Rights Reserved. Plan du site.</p>
        </div>
    </div>
</footer>